# dependencies
/node_modules

# production build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*
.dev.vars

# Font Awesome Pro registry auth
.npmrc

# cloudflare
.wrangler

# typescript
*.tsbuildinfo
